
.section-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.box-sx-1{
    width: calc(100% / 12);
    max-width: calc(100% / 12);
    text-align: center;
}
.box-sx-2{
    width: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
    text-align: center;
}
.box-sx-3{
    width: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
    text-align: center;
}
.box-sx-4{
    width: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
    text-align: center;
}
.box-sx-5{
    width: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
    text-align: center;
}
.box-sx-6{
    width: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
    text-align: center;
}
.box-sx-7{
    width: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
    text-align: center;
}
.box-sx-8{
    width: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
    text-align: center;
}
.box-sx-9{
    width: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
    text-align: center;
}
.box-sx-10{
    width: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
    text-align: center;
}
.box-sx-11{
    width: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
    text-align: center;
}
.box-sx-12{
    width: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
    text-align: center;
}
.offset-sx-1{
    margin-left: calc(100% / 12);
}
.offset-sx-2{
    margin-left: calc(100% / 12 * 2);
}
.offset-sx-3{
    margin-left: calc(100% / 12 * 3);
}
.offset-sx-4{
    margin-left: calc(100% / 12 * 4);
}
.offset-sx-5{
    margin-left: calc(100% / 12 * 5);
}
.offset-sx-6{
    margin-left: calc(100% / 12 * 6);
}
.offset-sx-7{
    margin-left: calc(100% / 12 * 7);
}
.offset-sx-8{
    margin-left: calc(100% / 12 * 8);
}
.offset-sx-9{
    margin-left: calc(100% / 12 * 9);
}
.offset-sx-10{
    margin-left: calc(100% / 12 * 10);
}
.offset-sx-11{
    margin-left: calc(100% / 12 * 11);
}
.offset-sx-12{
    margin-left: calc(100% / 12 * 12);
}